.bgg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  background-color: silver;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  outline: 2px solid white;
  width: 350px;
}
.logo-container {
  display: flex;
  flex-direction: row;
}
.rating-container {
  display: flex;
  flex-direction: column;
}
.location-container {
  display: flex;
  flex-direction: row;
}
