.main-bg-container {
  background-size: auto;
}
.bg-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.first-part {
  display: flex;
  flex-direction: column;
}
.first-sub-part-one {
  display: flex;
  flex-direction: row;
}
.rating-container {
  display: flex;
  flex-direction: column;
}
.first-sub-part-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.second-part {
  display: flex;
  flex-direction: column;
}
.second-sub-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fourt-part {
  display: flex;
  flex-direction: row;
}
.fourth-one {
  display: flex;
  flex-direction: column;
}
